/**
 * Main styles
 */

body {
  background: url('../images/bg-body.gif') repeat;
  color: #4f4e4e;
  font: normal 13px/1.5 Verdana, Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 26px;
  font-weight: normal;
  margin: 5px 0;
  color: #E34212;
}
h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
  color: #E34212;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: #E34212;
}
h4 {
  font-size: 13px;
  margin: 5px 0;
  color: #E34212; 
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #4f4e4e;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}
blockquote {
  background: transparent url('../images/bq-tl.png') no-repeat left top;
  padding-left: 30px;
  margin-left: 10px;
  font-style: italic;
  min-height: 0px;
}
ol{
  list-style-type: decimal;
  margin-left: 25px;
}
#main ul {

}
#main ul li {
  margin-left: 20px;
  list-style: disc;
}
ul.links.inline {
  display:block;
  margin-bottom:20px;
  background-color: #f6f6f6;
}
.sidebar ul li {
  margin-left: 0;
  list-style: none;
}
.form-submit,
.form-button {
  background-color: #e34212;
  border: 0;
  color: #fff;
  cursor: pointer;
  overflow: visible;
  padding: 3px 5px;
}

#bottom .form-submit,
#bottom .form-button {
  background-color: #fff;
  color: #e34212;

}

.form-text {
	width: 100%;
}

#forum table {
  border-collapse: collapse;
  width:100%;
}
a {
  color: #e34212;
  text-decoration: none;
}
a:hover {
  color: #e34212;
  text-decoration: underline;
}


/* Page Styles
-------------------------------------------------------------- */

#page {
  overflow: hidden;
	background: url('../images/bg_logo.png') no-repeat top right;
}
#header {
  height: 180px;
  width: 100%;
}
.header {
  height: 130px;
  padding-top: 15px;
}
#site-header {
  padding-top: 15px;
}
.logo {
  float: left;
}
.block-search {
  clear: right;
  float: right;
}
#site-name {
  position: absolute;
  text-indent: -9999px;
}
#site-slogan {
  color: #ffffff;
}
#user-links {
  float: right;
  margin-bottom: 10px;
}
#user-links ul.links {
  float: right;
}
#user-links ul.links li a {
  color: #fff;
  text-decoration: none;
}

#first-time {
  display: none;
}

/* Search
-------------------------------------------------------------- */
#search {
  float: right;
}
#search label {
  display: none;
}

/* Secondary Navigation
-------------------------------------------------------------- */
#log-in-out {
  float: right;
}
#log-in-out h2 {
  display: none;
}
#log-in-out ul {
  background-color: transparent;
  margin: 0;
}
/* Primary Navigation
-------------------------------------------------------------- */
.navigation {
  background: #e34212;
  height: 45px;
  margin-top: -45px;
}
#navigation li{
  background: #e34212;
  float: left;
  height: 45px;
}
#navigation li.active,
#navigation li:hover {
  background-position: left -45px;
}
#navigation a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 25px;
  text-decoration: none;
}
#navigation a:hover,
#navigation a:visited {
  color: #fff;
  text-decoration: none;
}

#navigation a:hover {
	background: #fff;
	color: #e34212;
	border: none;
}

/* Superfish
-------------------------------------------------------------- */
#superfish {
  height: 44px; 
  float: left;
}
#superfish h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#superfish .menu, #superfish .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#superfish .menu {
  line-height: 1.0;
}
#superfish .menu ul {
  position: absolute;
  top: -999em;
  width: 18em;
}
#superfish .menu ul li {
  width: 100%;
}
#superfish .menu li:hover {
  visibility: inherit;
}
#superfish .menu li {
  float: left;
  position:relative;
}
#superfish .menu a {
  display: block;
  position:relative;
}
#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
  left: 0;
  top: 45px;
}
#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul {
  top: -999em;
}
#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul {
  left: 18em;
  top: 0;
}
#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul {
  top: -999em;
}
#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul {
  left: 18em;
  top: 0;
}
#superfish .menu {
  float: left;
  margin-bottom: 1em;
}
#superfish .menu a {
  padding: .75em 1em 1em 1em;
  text-decoration: none;
}
#superfish .menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;
}
#superfish .menu a, #superfish .menu a:visited  {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}
#superfish .menu li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
#superfish .menu li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
#superfish .menu li li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
  top: 0px;
}
#superfish .menu li:hover, #superfish .menu li.sfHover,
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
  outline:0;
}
#superfish .menu li:hover {
  background-position: left -45px;
}
#superfish .menu li.active-trail {
  background-position: left -45px;
}
#superfish .menu li.active-trail li {
  background-position: left 0px;
}
#superfish .menu li li:hover {
  background-position: left -45px;
}
#superfish .menu li li li:hover {
  background-position: left -45px;
}
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}
a > .sf-sub-indicator { 
  top: .8em;
  background-position: 0 -100px;
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
#superfish .menu ul .sf-sub-indicator { background-position:  -10px 0; }
#superfish .menu ul a > .sf-sub-indicator { background-position:  0 0; }
#superfish .menu ul a:focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator,
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}

/* messages
-------------------------------------------------------------- */

div.messages {
  margin: 0 auto 15px;
  width: 900px;
}

/* Slide Wrapper
-------------------------------------------------------------- */
#banner-wrap {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
* html #banner-wrap {
  position: relative;
}
#banner-wrap.empty {
  height: 0;
}
#banner-wrap .content {
  margin-top: 15px;
}

/* Page Content
-------------------------------------------------------------- */
.region-content {
	background: #fff;
	border: 1px solid #ccc;
	border-top: 6px solid #e34212;
	border-bottom: 6px solid #e34212;
}

.region-content .content {
	padding: 10px;
}

.sidebar .gutter .block {
	padding-bottom: 25px;
}

.two-sidebars .first-sidebar {
	background: #fff;
	border: 1px solid #ccc;
	border-top: 6px solid #e34212;
	border-bottom: 6px solid #e34212;
	margin-bottom: 15px;
}

.two-sidebars .page-content .gutter h1{
	display: none;
}

.two-sidebars .page-content {
	width: 475px;
}

.two-sidebars .second-sidebar {
	background: #fff;
	border: 1px solid #ccc;
	border-top: 6px solid #e34212;
	border-bottom: 6px solid #e34212;
	color: #4f4e4e;
	width: 235px;
}

.two-sidebars .page-content .gutter .block {
	background: #fff;
	color: #4f4e4e;
	padding: 0 10px 5px 10px;
}

.two-sidebars .page-content .gutter .block h2 {
	color: #e34212;
  font-family: sans-serif;
  font-size: 30px;
	margin-bottom: 0;
	padding-left: 4px;
}

.two-sidebars .page-content .gutter .block .content p {
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.one-sidebar .first-sidebar {
	background: #fff;
	margin-bottom: 15px;
	width: 280px;
	border: 1px solid #ccc;
	border-top: 6px solid #e34212;
	border-bottom: 6px solid #e34212;
}

.one-sidebar .page-content .gutter h1{
	display: none;
}

.one-sidebar .second-sidebar {
	background: #fff;
	color: #4f4e4e;
}

.one-sidebar .page-content .gutter .block {
	background: #fff;
	padding: 10px;
	color: #4f4e4e;
}

.one-sidebar .page-content .gutter .block h2 {
	color: #e34212;
  font-family: sans-serif;
  font-size: 30px;
}

.preface,
.sidebar .gutter {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  min-height: 0;
}

.preface .gutter {
	padding: 0;
}

.gutter .block {

}

* html .sidebar .gutter,
* html .sidebar .gutter {
  height: 1%;
}
#main-wrapper {
  width:100%;
  padding-top:5px;
}

#content-wrap {
  min-height: 400px;
	margin-bottom: 15px;
}
#preface {
  min-height: 150px;
}
#preface .block-block {
  padding: 10px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-top: 6px solid #e34212;
	height: 185px;
}
#preface h2,
#preface h3 {
  color: #e34212;
}
.sidebar h2 {
  color: #e34212;
  padding: 0 5px;
	font-size: 20px;
	font-family: sans-serif;
}
.sidebar .content {
}
#bottom {
  color: #fff;
  margin-top: 15px;
  padding: 10px 0 25px;
}
#bottom h2 {
  color: #fff;
}
#bottom a,
#bottom a:visited {
  color: #fff;
  text-decoration: none;
}
#bottom a:hover {
  color: #cf710c;
}
#footer-wrap {
  background-color: #fff;
  color: #666;
  margin-top: 10px;
  padding-bottom: 10px;
}
#footer-wrap ul,
#footer-wrap li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#footer ul {
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
#footer ul li {
	text-align: left;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer {
  margin: 0 auto;
  width: 960px;
}

#footer {
	background: #e33400;
	border-top: 9px solid #e33400;
	margin: 0 auto;
}

#footer .block {
	padding-bottom: 10px;  	
	color: #fff;
}

#levelten {
  text-align: center;
}

/* Forum Styles
-------------------------------------------------------------- */
#forum tr.even, tr.odd {
  background: url(../images/forum-row-bg.gif) repeat-x scroll;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

/* Comment Styles
-------------------------------------------------------------- */
#comments .comment {
  background: #f6f6f6;
  padding: 0.5em 1em;
}

/* Helper Icon Styles
-------------------------------------------------------------- */
.region-content ul.links a {
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-left: 20px;
}
.region-content ul.links li.comment-add a {
  background-image: url(../images/commentadd.gif);
}
.region-content ul.links li.comment-comments a {
  background-image: url(../images/comments.gif);
}
.region-content ul.links li.comment-edit a {
  background-image: url(../images/commentedit.gif);
}
.region-content ul.links li.comment-delete a {
  background-image: url(../images/commentdelete.gif);
}
.region-content ul.links li.comment-reply a {
  background-image: url(../images/commentadd.gif);
}
.region-content ul.links li.node-readmore a {
  background-image: url(../images/readmore.gif);
}
.region-content ul.links li.blog-usernames-blog a {
  background-image: url(../images/user.gif);
}
.region-content ul.links li.comment-forbidden a {
  background-image:url(../images/lock.gif);
}
.region-content ul.links li.upload-attachments a {
  background-image: url(../images/photo.gif);
}
.region-content ul.links li.book-printer a{
  background-image:url(../images/print.gif);
}
.region-content ul.links li.book-add-child a{
  background-image:url(../images/add.gif);
}

/* Facebook 
-------------------------------------------------------------- */
#facebook .fbFeedbackContent .composer {
	background: #000 !important;
	border: none !important;
}

#facebook .fbFeedbackContent .fbConnectWidgetFooter {
	display: none !important;
}

#facebook .fbFeedbackContent {

}

